footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 6%;
}

#footer-container {
    margin-top: 1%;
}

#tabsPanel{
    width: 100%;
}

.panel-item{
    width:25%;
    color: white!important;
    font-weight: bold;
    font-size: 18px;
}

#currentCramTitle{
    margin-top:-2%;
    margin-bottom:2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#futureCramTitle{
    margin-top:2%;
    margin-bottom:2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#newCramTitle{
    margin-top:2%;
    margin-bottom:2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.card.mb-2{
    width:80%!important;
    margin: auto;
}