footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 6%;
}

#footer-container {
    margin-top: 1%;
}

#tabsPanel{
    width: 100%;
}

.panel-item{
    width:25%;
    color: white!important;
    font-weight: bold;
    font-size: 18px;
}

.nav-tabs{
    border:none;
}

.nav-link{
    border:none!important;
}